runpod>=1.7.0
fastapi
uvicorn[standard]
pydantic
requests
python-multipart
yt-dlp
edge-tts
openai-whisper
faster-whisper
transformers
sentencepiece
accelerate
huggingface_hub
numpy
scipy
soundfile
pydub
librosa
safetensors
deepmultilingualpunctuation
catt-tashkeel
